<div class='main-content'>
  <h1 class="faq-title" style="color: #5e6160">Frequently Asked Questions</h2>
  <div class='pretty-pic'>
    <div class='pretty-content'>
      <br />
      <h3>Whiteboardr & Interview Practice</h3>
      ____________________
      <br />
      <br />
      <p><a href="#practicing" style="font-size: 15px">What Do I Do?</a></p>
      <br />
      <p><a href="#feedback" style="font-size: 15px">How Do I Give Feedback?</a></p>
      <br />
      <p><a href="#ratings" style="font-size: 15px">How Do I Rate a Candidate?</a></p>
    </div>
  </div>
  <a name="practicing"></a>
  <br />
  <div class='faq-answers'>
  <h3 style="color: #5e6160">WHAT DO I DO?</h3>
  <br />
  <div class='answers-for-qs'>
  <div>
    1. Be sure to greet the interviewer, make eye contact, and offer to shake hands.
  </div>
  <br />
  <div>
    2. Take your time. Calm down and breathe. Practice the RIOT technique:
    <br />
    <br />
    <ul class='riot'>
      <li><b>R</b>: REPEAT the challenge</li>
      <li><b>I</b>: Clarify INPUTS</li>
      <li><b>O</b>: Clarify OUTPUTS</li>
      <li><b>T</b>: Consider your TESTS</li>
    </ul>
  </div>
  <br />
  <div>
    3. Be vocal. Talk about your thought process. As you are solving the problem on the whiteboard, pretend you are a teacher and you are explaining what you are doing. Show the interviewers your commuications skills and your ability to frame and break down a problem. Talk about pros/cons of different solutions.
  </div>
  <br>
  <div>
    4. Ask questions. Clarify requirements, and ask about edge cases. It is okay to ask for help getting started. Use the interviewer as a resource. Constraints may be vague on purpose! Use questions to show your knowledge in areas outside of the problem scope (i.e. testing, performance). Find a way to highlight your strengths.
  </div>
  <br />
  <div>
    5. If you are asked a question that stumps you, it is okay to say, "To be honest, I don't know, but I'm willing to work with you and try. I am more than happy to take a crack at it". Show your enthusiasm and willingness to learn.
  </div>
  <br />
  <div>
    6. Pseudo code before diving into actual code.
  </div>
  <br />
  <div>
    7. Write neatly on the whiteboard. Start at the top left corner so you have room for more. Leave some spaces between your lines of code so that you can insert additional code later.
  </div>
</div>
  <br />
  <a name="feedback"></a>
  <h3 style="color: #5e6160">How Do I Give Feedback?</h3>
  <div class='answers-for-qs'>
  <br />
  Focus on giving feedback based on the <b>ASK</b> framwork:
  <div>
    <br />
    <ul class='riot'>
      <li><b>A</b>: ACTIONABLE
      </li>
      <li><b>S</b>: SPECIFIC</li>
      <li><b>K</b>: KIND</li>
    </ul>
    <br />
    <b>Actionable</b>: Give feedback on behaviors that the candidate can actually take steps to improve upon
  </div>
  <div>
    <br />
    <b>Specific</b>: Be as specific as possible about what the candidate did well or needs to improve on
  </div>
  <div>
    <br />
    <b>Kind</b>: Be encouraging and balance your constructive criticism
  </div>
  <br />
  <h5>Example of ASK feedback (good):</h5>
  <i>"Nice, neat printing on the whiteboard."
  <br />
  "Good job vocalizing your thought process."
  <br />
  "It would be helpful if you could make more eye contact with the interviewer."
  <br />
  "Consider writing the expected input/output on the left or right side of the whiteboard."</i>
  <h5>Example of non-ASK feedback (not the best):</h5>
  <i>"You did well." (not specific)
  <br />
  "Your coding skills are terrible; you are not very smart" (not kind)
  <br />
  "You should be taller." (not actionable)</i>
  <br />
</div>
  <br />
  <a name="ratings"></a>
  <h3 style="color: #5e6160">How Do I Rate a Candidate?</h3>
  <br />
  <div class='answers-for-qs'>
  <div>
    1. Whiteboard Neatness and Clarity:  Was printing neat and readable? Did candidate start at the top left or right of the board? Did candidate leave some space between lines of code or psuedo-code? Did candidate run out of room on the board?
  </div>
  <br />
  <div>
    2. Poise and Presence: Did candidate greet the interviewer and shake hands? Was candidate friendly and personable? Did the candidate's body language communicate confidence and ease? Was candidate's volume appropriate?
  </div>
  <br />
  <div>
    3. Demonstration of Knowledge: Did candidate ask questions that showed thinking process and knowledge of issues to consider? Did the candidate appear to understand the subject matter or show ability to reason while working through a solution?
  </div>
  <br />
  <div>
    4. RIOT Rating: RIOT = REPEAT the challenge description, clarify INPUTs and OUTPUTs, consider TESTS (edge cases)
  </div>
  </div>
</div>
</div>
<br />
<br />
