<body>
  <% if !logged_in? %>
    <%= render partial:'/sessions/form' %>
  <% end %>
  <% if logged_in? %>
    <div class="container">
      <% if flash[:alert] %>
        <div class='errors'>
          <%= flash[:alert] %>
        </div>
      <% end %>
      
    </div>
  <% end %>
</body>
