<br />
What is ASK feedback?
<div>
  A = actionable (give feedback that the candidate can use to take actionable steps to improve)
</div>
<div>
  S = specific (be as specific as possible about what the candidate did well or needs improvement on)
</div>
<div>
  K = kind (be encouraging and not mean; give positive feedback with negative feedback)
</div>
<br />
<h5>Example of ASK feedback (good):</h5>
"Nice, neat printing on the whiteboard."
<br />
"Good job vocalizing your thought process."
<br />
"It would be helpful if you could make more eye contact with the interviewer."
<br />
"Consider writing the expected input/output on the left or right side of the whiteboard."
<h5>Example of non-ASK feedback (not the best):</h5>
"You did well." (not specific)
<br />
"Your coding skills are terrible; you are not very smart" (not kind)
<br />
"You should be taller." (not actionable)
<br />
<br />
