<div class='challenge-container'>
  <h2> <%= challenge.title %>  </h2>
  <p>
    <%= challenge.body %>
  </p>
  <p>
    <% if challenge.notes && challenge.notes.length > 0 %>
      <h4>Notes:</h4>
      <pre>
        <%= simple_format(challenge.notes) %>
      </pre>
    <% end %>
  </p>
</div>
