<div class='challenge-container'>
  <h3><%= challenge.title %></h3>
  <p class='challenge-body'>
    <%= challenge.body %>
  </p>
  <p>
    <% if challenge.notes && challenge.notes.length > 0 %>
      <pre>
        <%= simple_format(challenge.notes) %>
      </pre>
    <% end %>
  </p>
</div>
